 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
    <form action="/example2/encode" method="POST">
        Plain Text : <input type="text" name="aaa" required><br><br>
        <input type="submit">
    </form>
    <br>
    <h1>result</h1>
    <br><%=token%>
 </body>
 </html>