 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     Hello This is JWT example
     <a href="/example1">example1</a>
     <a href="/example2">example2</a>
     <a href="/example3">example3</a>
     <a href="/example4">example4</a>
     
 </body>
 </html>