 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     Hello This is JWT example<br>
     <a href="/example1">example1</a><br>
     <pre>
         토큰 생성에 관련
     </pre>
     <a href="/example2">example2</a><br>
     <pre>
         입력받은 값으로 토큰 생성
     </pre>
     <a href="/example3">example3</a><br>
     <pre>
         입력받은 값을 plain 형태로 복호화
     </pre>
     <a href="/example4">example4</a>
     <pre>
        토큰의 유효기간 설정
    </pre>
    
    <a href="/login">example4</a>
    <pre>
       토큰으로 로그인
   </pre>

 </body>
 </html>